<div class="section miscelanious-is-a-funny-word">
  <div class="main-content-wrapper people-id-like-to-meet">
    <div class="content">
      <h3>People I'd like to meet</h3>
      <p>I've been fortunate enough to meet some of my heroes, but I still have a long way to go.<br />This is a list of
        people I'd like to high five IRL.</p>
      <ul>
        <li><span class="tick"></span><a target="_blank" href="https://twitter.com/3dfordesigners">Devon Ko</a></li>

        <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/DavidDarnes">Dave
            Darnes</a></li>

      </ul>
    </div>
  </div>
</div>
