<div class="section miscelanious-is-a-funny-word">
  <div class="section big-hero-six">
    <div class="background">
      <img src="/assets/images/hero-bg.jpg" />
      <div class="layer"></div>
    </div>
    <div class="main-content-wrapper">
      <div class="content">
        <p><a href="https://youtu.be/sNPnbI1arSE?t=8s" class="ninja-links" target="_blank">Hi, my name is</a></p>
        <h1>Jitan Gupta</h1>
        <p>I code for passion & design for fun</p>
      </div>
    </div>
    <!-- <div class="custom-wave"></div> -->
  </div>

  <!--About-->

  <!--We Love Startups-->

  <!--Ruhan-->


  <!--Tech stuff-->
  <div class="section tech-stuff miscelanious-is-a-funny-word">
    <div class="main-content-wrapper">
      <div class="content">
        <h3>Developer Stats</h3>
        <p>I have written few articles about the technology I use</p>
        <!-- stats-->
        <div class="responsive d-block">
          <img src="https://komarev.com/ghpvc/?username=jitangupta" alt="jitangupta" />
          <a href="https://stackoverflow.com/users/8178474/jitan-gupta"><img
              src="https://stackoverflow.com/users/flair/8178474.png?theme=clean" class="smooth-border" width="208"
              height="58"
              alt="profile for Jitan Gupta at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
              title="profile for Jitan Gupta at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
          <a href="https://www.c-sharpcorner.com/members/jitan-gupta">
            <img src="https://www.c-sharpcorner.com/members/jitan-gupta/flair.png" width="260" height="58"
              alt="profile for Jitan C# Corner - A Social Community of Developers and Programmers"
              title="profile for Jitan at C# Corner - A Social Community of Developers and Programmers" />
          </a>
          <img src="https://github-readme-stats.vercel.app/api?username=jitangupta&show_icons=false" alt="jitangupta" />
          <img src="http://ghchart.rshah.org/119e16/jitangupta" alt="JitanGupta's Github chart"
            class="smooth-border p-7" />
        </div>
      </div>


      <!--Plugins-->


    </div>

    <div class="main-content-wrapper">
      <!--Articles-->
      <div class="content">
        <h3>Articles</h3>
        <p>I have written few articles about the technology I use</p>
        <div class="article">
          <div class="article-text-div">
            <div class="article-container">
              <a class="article-card">
                <h3 class="article-title">Win a Google Assistant Tshirt and $200 in Google Cloud Credits</h3>
                <p class="small">Do you want to win $200 and Google Assistant Tshirt by creating a Google Assistant
                  Action in less then 30 min?</p>
                <div class="go-corner">
                  <div class="go-arrow">→</div>
                </div>
              </a>
            </div>
            <div class="article-container">
              <a class="article-card">
                <h3 class="article-title">Win a Google Assistant Tshirt and $200 in Google Cloud Credits</h3>
                <p class="small">Do you want to win $200 and Google Assistant Tshirt by creating a Google Assistant
                  Action in less then 30 min?</p>
                <div class="go-corner">
                  <div class="go-arrow">→</div>
                </div>
              </a>
            </div>
            <div class="article-container">
              <a class="article-card">
                <h3 class="article-title">Why REACT is The Best?</h3>
                <p class="small">React is a JavaScript library for building User Interface. It is maintained by
                  Facebook and a community of individual developers and companies.</p>
                <div class="go-corner">
                  <div class="go-arrow">→</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section miscelanious-is-a-funny-word">
    <div class="main-content-wrapper in-the-year-2000">
      <div class="content">
        <h3>Plugins</h3>
        <p>I have written few articles about the technology I use</p>
        <ul>
          <li class="attendance-calender">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/attendance-calendar.png" />
              </div>
              <div class="wrapper">
                <h4>Attendance Calender</h4>
                <p>ATTENDANCE-CALENDAR help you display attendance related data with IN-OUT time in calendar format.
                  Available in both JavaScript and TypeScript. <a
                    href="http://www.creativebloq.com/web-design/how-mock-website-sketch-11513814" target="_blank">give
                    a star</a></p>
              </div>
            </div>
          </li>
          <li class="manyajs">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/manya.js.gif" />
              </div>
              <div class="wrapper">
                <h4>ManyaJS</h4>
                <p>"Manya JS" helps to validate HTML form. (outdated)
                  <!--<a
                    href="https://github.com/jitangupta/manyajs"
                    target="_blank">give a star</a>-->
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--people like to meet-->
  <div class="main-content-wrapper people-id-like-to-meet">

    <div class="content">
      <h3>People I'd like to meet</h3>
      <p>I've been fortunate enough to meet some of my heroes, but I still have a long way to go.<br />This is a list of
        people I'd like to high five IRL.</p>
      <ul>
        <li><span class="tick"></span><a target="_blank" href="https://twitter.com/3dfordesigners">Devon Ko</a></li>
        <li><span class="tick"></span><a target="_blank" href="https://twitter.com/3dfordesigners">Devon Ko</a></li>
        <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/DavidDarnes">Dave
            Darnes</a></li>
        <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/DavidDarnes">Dave
            Darnes</a></li>
      </ul>
    </div>
  </div>

  <!--social-->
  <div class="main-content-wrapper social">
    <div class="content">
      <h3>Follow me on the interwebz</h3>
      <p>I'm not *super* active on social media (maybe with Twitter as an exception), it's a safe follow.</p>
      <ul>
        <li class="github">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-github.png" />
            </div>
            <div class="wrapper">
              <h4>GitHub</h4>
              <p>If I didn't share a Github link would I be a real comunity believer?</p>
            </div>
          </div>
          <a href="https://github.com/jitangupta" target="_blank" class="whole-thing-is-a-target"></a>
        </li>
        <li class="stacl-overflow">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-stackoverflow.png" />
            </div>
            <div class="wrapper">
              <h4>Stack Overflow</h4>
              <p>If I didn't share a Stack-Overflow link would I be a real developer?</p>
            </div>
          </div>
          <a href="https://stackoverflow.com/users/8178474/jitan-gupta" target="_blank"
            class="whole-thing-is-a-target"></a>
        </li>

        <li class="csharp-corner">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-c-sharp-corner.png" />
            </div>
            <div class="wrapper">
              <h4>C-Sharp Corner</h4>
              <p>Find all of my articles here, follow me for more.</p>
            </div>
          </div>
          <a href="https://www.c-sharpcorner.com/members/jitan-gupta" target="_blank"
            class="whole-thing-is-a-target"></a>
        </li>
        <li class="linkedIn">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-linkedin.png" />
            </div>
            <div class="wrapper">
              <h4>Linkedin</h4>
              <p>If you have something interesting to share, let's connect on LinkedIn.</p>
            </div>
          </div>
          <a href="https://www.linkedin.com/in/jitangupta/" target="_blank" class="whole-thing-is-a-target"></a>
        </li>
        <li class="twitter">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-twitter.png" />
            </div>
            <div class="wrapper">
              <h4>Twitter</h4>
              <p>I try to stay light and funny on Twitter, unless it's BUILD week, RIP your timeline then.</p>
            </div>
          </div>
          <a href="https://twitter.com/jitanguptapage" target="_blank" class="whole-thing-is-a-target"></a>
        </li>
      </ul>
    </div>
  </div>

  <!--Footer-->
  <div class="main-content-wrapper footer">
    <p>Copyleft © [what-year-is-this]</p>
    <p>This website definitely does not represent the skillz of Jitan Gupta, this is his personal web standards'
      rebelion — <a href="https://github.com/jitangupta/jitangupta.com" target="_blank">open sourced</a>.</p>
    <p>Not currently looking for a job, but here's <a target="_blank" href="/assets/resume11.1.3_public.pdf">my
        resume</a> if you're
      into that.</p>
  </div>

  <img src="/assets/not-how-this-works.png" id="easterNope" class="easter not-how-this-works" />
</div>
