<div class="section miscelanious-is-a-funny-word">
  <div class="section big-hero-six">
    <div class="background">
      <img src="/assets/images/hero-bg.jpg" />
    </div>
    <div class="main-content-wrapper">
      <div class="content">
        <p><a href="https://youtu.be/sNPnbI1arSE?t=8s" class="ninja-links" target="_blank">Hi, my name is</a></p>
        <h1>Jitan Gupta</h1>
        <p>I code for passion & design for fun</p>
      </div>
    </div>
    <!-- <div class="custom-wave"></div> -->
  </div>

  <!-- <div>
    about
  </div> -->

  <!-- <div class="section netlify">
    <div class="main-content-wrapper">
      <div class="content">
        <h2>We Love Startups</h2>
        <p>I joined Netlify in 2016 as their first designer and was responsible for designing and scaling our app's UI
          for the next 5 years.</p>
        <p>I’ve also led the 2018's marketing and brand redesign, and helped hire and grow our <a
            href="https://twitter.com/iKristy/status/1299112468921409536" target="_blank">incredible Product Design
            team</a>.</p>
        <a href="https://www.welovestartups.in/" target="_blank" class="external-link tint-color">Learn more about we
          love startups</a>
      </div>
      <div class="showcase">
        <div class="card depth-level-2"><a href="https://dribbble.com/shots/4369210-New-Netlify-Site-Home"
            target="_blank" class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-3"><a href="https://dribbble.com/shots/3611765-Split-Testing" target="_blank"
            class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-1"><a href="https://app.netlify.com/" target="_blank"
            class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-2"><a href="https://www.netlify.com/" target="_blank"
            class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-3"><a href="https://dribbble.com/shots/3611833-Split-Testing-Iconography"
            target="_blank" class="whole-thing-is-a-target"></a></div>
      </div>
    </div>
    <svg class="wave wave-bottom" width="4324" height="202" viewBox="0 0 4324 202" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.996094 202V80.4186C0.996094 80.4186 202 -52.0911 743 24.5C1284 101.091 1884 24.5 2624 24.5C3364 24.5 4324 101.091 4324 101.091C4324 101.091 4324 202 4324 202H0.996094Z"
        fill="white" />
    </svg>
  </div>


  <div class="section layout">
    <div class="main-content-wrapper">
      <div class="content">
        <h2>Ruhan</h2>
        <p>Layout is a weekly podcast about design, technology, and everything else—now on the <a
            href="https://spec.fm">Spec Network</a>.</p>
        <p>I record it with my friend <a href="https://twitter.com/vernalkick">Kevin Clark</a> and it's one of the most
          fulfilling side projects I have ever done. We've recorded more than 100 episodes so far, and have met tons of
          great listeners and now friends all around the world.</p>
        <a href="https://layout.fm" target="_blank" class="external-link tint-color">Give it a listen</a>
      </div>
      <div class="showcase">
        <div class="card depth-level-2"><a href="https://twitter.com/rafahari/status/856372852362051585" target="_blank"
            class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-3"><a href="https://twitter.com/williambout/status/968552607894577152"
            target="_blank" class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-1"><a href="https://layout.fm/" target="_blank"
            class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-2"><a href="https://twitter.com/danielroeven/status/963828209933602817"
            target="_blank" class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-3"><a href="https://twitter.com/wolfinthecity_/status/963633644387610624"
            target="_blank" class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-2"><a href="https://twitter.com/rafahari/status/856033438331092992" target="_blank"
            class="whole-thing-is-a-target"></a></div>
        <div class="card depth-level-3"><a href="https://twitter.com/Matesmac/status/981586211344191490" target="_blank"
            class="whole-thing-is-a-target"></a></div>
      </div>
    </div>
  </div> -->

  <div class="section miscelanious-is-a-funny-word">
    <div class="main-content-wrapper in-the-year-2000">
      <div class="content">
        <h3>Aritcles and Plugins</h3>
        <p>I have written few articles about the technology I use</p>
        <ul>
          <li class="manyajs">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/manya.js.gif" />
              </div>
              <div class="wrapper">
                <h4>ManyaJS</h4>
                <p>"Manya JS" helps to validate HTML form. <a
                    href="https://github.com/jitangupta/manyajs"
                    target="_blank">give a star</a></p>
              </div>
            </div>
          </li>
          <li class="attendance-calender">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/attendance-calendar.png" />
              </div>
              <div class="wrapper">
                <h4>Attendance Calender</h4>
                <p>ATTENDANCE-CALENDAR help you display attendance related data with IN-OUT time in calendar format. Available in both JavaScript and TypeScript. <a
                    href="http://www.creativebloq.com/web-design/how-mock-website-sketch-11513814"
                    target="_blank">give a star</a></p>
              </div>
            </div>
          </li>
          <li class="article">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/article.png" />
              </div>
              <div class="wrapper">
                <h4>Project Setup With Mono Repo - Angular Architecture</h4>
                <p>While building an enterprise-level application, it is hard to manage...
                  <a href="https://www.c-sharpcorner.com/article/project-setup-with-mono-repo-angular-architecture/"
                    target="_blank">full article</a>.</p>
              </div>
            </div>
          </li>
          <li class="article">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/article.png" />
              </div>
              <div class="wrapper">
                <h4>Creating Web API Using Code-First Approach In Entity Framework </h4>
                <p>In this article, we will create a database with a foreign key constraint (one to...
                  <a href="https://www.c-sharpcorner.com/article/creating-web-api-using-code-first-approach-in-entity-framework/"
                    target="_blank">full article</a>.</p>
              </div>
            </div>
            <a href="/blog/how-being-a-developer-makes-me-a-better-designer" target="_blank"
              class="whole-thing-is-a-target"></a>
          </li>
          <li class="article">
            <div class="flexing-like-a-douche">
              <div class="detail">
                <img src="/assets/images/article.png" />
              </div>
              <div class="wrapper">
                <h4>Creating MVC Applications Using Entity Framework Code First Approach
                </h4>
                <p>Entity Framework is a relational mapper framework. It is an enhancement of ADO.NET...
                  <a href="https://www.c-sharpcorner.com/article/creating-mvc-application-using-entity-framework-code-first-approach/"
                    target="_blank">full article</a>.
                </p>
              </div>
            </div>
            <a href="/blog/the-rise-of-the-jamstack-dj-set" target="_blank" class="whole-thing-is-a-target"></a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="main-content-wrapper people-id-like-to-meet">

    <div class="content">
      <h3>People I'd like to meet</h3>
      <p>I've been fortunate enough to meet some of my heroes, but I still have a long way to go.<br />This is a list of
        people I'd like to high five IRL.</p>
      <ul>
        <li><span class="tick"></span><a target="_blank" href="https://twitter.com/3dfordesigners">Devon Ko</a></li>
        <li><span class="tick"></span><a target="_blank" href="https://twitter.com/3dfordesigners">Devon Ko</a></li>
        <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/DavidDarnes">Dave
            Darnes</a></li>
        <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/DavidDarnes">Dave
            Darnes</a></li>
      </ul>
    </div>
  </div>

  <div class="main-content-wrapper social">
    <div class="content">
      <h3>Follow me on the interwebz</h3>
      <p>I'm not *super* active on social media (maybe with Twitter as an exception), it's a safe follow.</p>
      <ul>
        <li class="github">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-github.png" />
            </div>
            <div class="wrapper">
              <h4>GitHub</h4>
              <p>If I didn't share a Github link would I be a real comunity believer?</p>
            </div>
          </div>
          <a href="https://github.com/jitangupta" target="_blank" class="whole-thing-is-a-target"></a>
        </li>
        <li class="stacl-overflow">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-stackoverflow.png" />
            </div>
            <div class="wrapper">
              <h4>Stack Overflow</h4>
              <p>If I didn't share a Stack-Overflow link would I be a real developer?</p>
            </div>
          </div>
          <a href="https://stackoverflow.com/users/8178474/jitan-gupta" target="_blank"
            class="whole-thing-is-a-target"></a>
        </li>

        <li class="csharp-corner">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-c-sharp-corner.png" />
            </div>
            <div class="wrapper">
              <h4>C-Sharp Corner</h4>
              <p>Find all of my articles here, follow me for more.</p>
            </div>
          </div>
          <a href="https://www.c-sharpcorner.com/members/jitan-gupta" target="_blank"
            class="whole-thing-is-a-target"></a>
        </li>
        <li class="linkedIn">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-linkedin.png" />
            </div>
            <div class="wrapper">
              <h4>Linkedin</h4>
              <p>If you have something interesting to share, let's connect on LinkedIn.</p>
            </div>
          </div>
          <a href="https://www.linkedin.com/in/jitangupta/" target="_blank" class="whole-thing-is-a-target"></a>
        </li>
        <li class="twitter">
          <div class="flexing-like-a-douche">
            <div class="detail">
              <img src="/assets/images/social-twitter.png" />
            </div>
            <div class="wrapper">
              <h4>Twitter</h4>
              <p>I try to stay light and funny on Twitter, unless it's BUILD week, RIP your timeline then.</p>
            </div>
          </div>
          <a href="https://twitter.com/jitanguptapage" target="_blank" class="whole-thing-is-a-target"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content-wrapper footer">
    <p>Copyleft © [what-year-is-this]</p>
    <p>This website definitely does not represent the skillz of Jitan Gupta, this is his personal web standards'
      rebelion — <a href="https://github.com/jitangupta/jitangupta.com" target="_blank">open sourced</a>.</p>
    <p>Not currently looking for a job, but here's <a target="_blank" href="/assets/resume11.1.3_public.pdf">my
        resume</a> if you're
      into that.</p>
  </div>

  <img src="/assets/not-how-this-works.png" id="easterNope" class="easter not-how-this-works" />
</div>
