<div class="resume">
  <div class="container">
    <h1 class="name">Jitan Gupta</h1>
    <h2 class="heading"></h2>
    <div class="video-container">

    </div>
    <div class="download-resume">
      <a target="_blank" href="/assets/resume11.1-public.pdf">Download</a>
    </div>
  </div>

  <div class="resume-mini">
    <div class="projects">
      <h3>Projects</h3>
      <div class="project">
        <div class="title">Rave Technologies</div>
        <div class="description">What is my roles and responsibilites</div>
        <div class="tech-used">
          XYZ.
        </div>
      </div>
    </div>
    <div class="skills">
      <h3>Key Skills</h3>
      <div class="category">
        <h6>Frontend</h6>
        <div class="skill">Angular, HTML, Javascript</div>
      </div>
      <div class="category">
        <h6>Backend</h6>
        <div class="skill">C#.Net, LINQ, Entity Framework, .Net Core</div>
      </div>
    </div>
  </div>
</div>
